<h4 style="text-align: center;
    font-size: 24px;
    color: #b11212;">Are you sure?</h4>
<div class="row">
    <div class="col-md-6">
        <button data_url="{% url 'delete' id %}" id="delete" style="margin-left: 26px;" class="btn btn-danger">
            Delete
        </button>
    </div>
    <div class="col-md-6">
        <button style="margin-left: 26px;" data-dismiss="modal" class="btn btn-primary">
            Cancel
        </button>

    </div>
</div>

<script>
  $('#delete').click(function () {
        var url = $(this).attr('data_url');
        $.ajax({
            url: url,
            method: "DELETE",
            success: function (data) {
                 window.location = data.url;
                console.log(data)

            },

            error: function (xhr, err, msg) {
                console.log(xhr, err, msg);
            }
         });
    })
</script>
