{% load widget_tweaks %}

{% for field in form %}
    {% csrf_token %}
    {% if field.label == 'Password' %}
        <div class="col-md-6">
        <div class="form-group">
        {% render_field field class='form-control' id="password-field" type="password" name="password" value=password placeholder=field.label %}
              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
        </div>
        </div>

    {% else %}
        {% if type == 'FTP' or type == 'SSH' %}
            {% if field.label != 'Url' and field.label != 'Name' %}
                <div class="col-md-6">

                    <div class="form-group">

                        {% render_field field class='form-control' placeholder=field.label %}

                    </div>
                </div>
            {% endif %}
        {% elif type == 'ADMIN' %}
            {% if field.label != 'Host' and field.label != 'Name' and field.label != 'Port' %}
                <div class="col-md-6">

                    <div class="form-group">

                        {% render_field field class='form-control' placeholder=field.label %}

                    </div>
                </div>

            {% endif %}
        {% elif type == 'EMAIL' %}
            {% if field.label != 'Host' and field.label != 'Url' and field.label != 'Port' %}
                <div class="col-md-6">

                    <div class="form-group">

                        {% render_field field class='form-control' placeholder=field.label %}

                    </div>
                </div>
            {% endif %}


        {% endif %}

    {% endif %}








{% endfor %}
<div class="col-md-12">
    <div class="form-group">
        <button class="btn btn-primary" id="save">SAVE</button>
    </div>
</div>

<script>



$(".toggle-password").click(function() {

  $(this).toggleClass("fa-eye fa-eye-slash");
  var input = $($(this).attr("toggle"));
  if (input.attr("type") == "password") {
    input.attr("type", "text");
  } else {
    input.attr("type", "password");
  }
});


<!-- edit password  -->
    $('#save').click(function () {
        console.log('savee')
        typee = $("option:selected").val();
        host = $("input[name=host]").val();
        port = $("input[name=port]").val();
        url = $("input[name=url]").val();
        namee = $("input[name=name]").val();
        username = $("input[name=username]").val();
        password = $("input[name=password]").val();

        $.ajax({
            url: '{% url 'home' %}',
            method: "POST",
            data: {
                check: 'edit',
                id: {{ id }},
                type: typee,
                host: host,
                port: port,
                url: url,
                name:namee,
                username:username,
                password:password,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function (data) {
                 window.location = data.url;
                console.log(data)

            },

            error: function (xhr, err, msg) {
                console.log(xhr, err, msg);
            }
         });
    })



</script>


<style>
    .field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.container{
  padding-top:50px;
  margin: auto;
}
</style>