{% extends 'base.html' %}
{% load widget_tweaks %}

{% block page %}
    <div class="container">
        <h1 style="margin-bottom: 42px;">CHOOSE PASSWORD'S TYPE</h1>
        {% if user.is_authenticated %}
            <h2><strong>User Name:</strong> {{ request.user }}</h2>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <br>
            <br>
        {% else %}
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
        <div class="row">
            <div class="col-md-3">
                <button data-toggle="modal" data-target="#CreateModal" id="FTP"
                        data-url="{% url 'forms-password' 'FTP' %}"
                        class="btn btn-success type">FTP
                </button>
            </div>
            <div class="col-md-3">
                <button data-toggle="modal" data-target="#CreateModal" id="SSH"
                        data-url="{% url 'forms-password' 'SSH' %}"
                        class="btn btn-success type">SSH
                </button>

            </div>
            <div class="col-md-3">
                <button data-toggle="modal" data-target="#CreateModal" id="ADMINN"
                        data-url="{% url 'forms-password' 'ADMINN' %}" class="btn btn-success type">ADMIN
                </button>

            </div>
            <div class="col-md-3">
                <button data-toggle="modal" data-target="#CreateModal" id="EMAIL"
                        data-url="{% url 'forms-password' 'EMAIL' %}"
                        class="btn btn-success type">EMAIL
                </button>

            </div>
        </div>


    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <!-- Editable table -->
                <div style="margin-top: 45px;" class="card">
                    <div class="card-body">
                        <div id="table" class="table-editable">
                            <span class="table-add float-right mb-3 mr-2"></span>
                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                <thead>
                                <tr>
                                    <th class="text-center">Type</th>
                                    <th class="text-center">Username</th>
                                    <th class="text-center">Password</th>
                                    <th class="text-center">Details</th>
                                    <th class="text-center">Remove</th>


                                </tr>
                                </thead>
                                <tbody>
                                {% for field in lists %}
                                    <tr>
                                        <td class="pt-3-half">{{ field.type }}</td>
                                        <td class="pt-3-half">{{ field.username }}</td>
                                        <td class="pt-3-half"><span
                                                class="glyphicon">&#xe234;</span><span
                                                class="glyphicon">&#xe234;</span></td>
                                        <td>
                                            <button data_url="{% url 'detail' field.id %}" id="{{ field.id }}"
                                                    data-toggle="modal"
                                                    data-target="#DetailModal" type="button"
                                                    class="btn btn-primary detail ">Show Detail or Edit
                                            </button>
                                        </td>
                                        <td>
                                            <button data_url="{% url 'delete' field.id %}" data-toggle="modal"
                                                    data-target="#deleteModal" type="button"
                                                    class="btn btn-danger deletebutton ">Remove
                                            </button>
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Editable table -->
                <div>
                    <ul class="pagination">
                        {% if lists.has_previous %}
                            <li>
                                <span><a href="?page={{ lists.previous_page_number }}">Previous</a></span>
                            </li>
                        {% endif %}
                        {% for page in page_range %}
                            <li class="">
                                <a href="?page={{ page }}">{{ page }}</a>
                            </li>
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li>
                                <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card" style="margin-top: 45px;border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;">
                    <div class="card-body">
                        <div style="background: #337ab7;">
                            <h4 style="color: white;margin-top: 0;padding: 3px;padding-top: 8px; padding-left:13px; "
                                class="card-title">FILTER </h4>

                        </div>
                        <p style="padding-left: 13px;">By type</p>
                        <ul>
                            <li><a href="{% url 'home' %}">All</a></li>
                            <li><a href="{% url 'filter' 'FTP' %}">Ftp</a></li>
                            <li><a href="{% url 'filter' 'SSH' %}">Ssh</a></li>
                            <li><a href="{% url 'filter' 'ADMIN' %}">Admin</a></li>
                            <li><a href="{% url 'filter' 'EMAIL' %}">Email</a></li>


                        </ul>

                    </div>
                </div>
            </div>

        </div>


    </div>
{% endblock %}


{% block modal %}
    <!-- Modal create -->
    <div class="modal fade" id="CreateModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Password</h4>
                </div>
                <div class="modal-body">
                    <div class="row" id="divform">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal detail -->
    <div class="modal fade" id="DetailModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Password</h4>
                </div>
                <div class="modal-body">
                    <div class="row" id="detailform">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal delete -->
    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 style="" class="modal-title">Delete Password</h4>
                </div>
                <div class="modal-body">
                    <div class="row" id="deleteform">


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>


            </div>
        </div>
    </div>

{% endblock %}


{% block script %}

    <script>

        {#<!-- create ucun buttona click -->#}

        $('button.type').click(function () {
            data_url = $(this).attr('data-url')

            $.ajax({
                url: data_url,
                method: "GET",
                success: function (data) {

                    $('#divform').html(data)

                },

                error: function (xhr, err, msg) {
                    console.log(xhr, err, msg);
                }
            });

        })

        {#<!-- show detail click -->#}

        $('button.detail').click(function () {
            var url = $(this).attr('data_url')

            $.ajax({
                url: url,
                method: "GET",
                success: function (data) {


                    $('#detailform').html(data)

                },

                error: function (xhr, err, msg) {
                    console.log(xhr, err, msg);
                }
            });

        })


        {#<!-- delete click -->#}

        $('button.deletebutton').click(function () {
            var url = $(this).attr('data_url')

            $.ajax({
                url: url,
                method: "GET",
                success: function (data) {

                    console.log(data)
                    $('#deleteform').html(data)

                },

                error: function (xhr, err, msg) {
                    console.log(xhr, err, msg);
                }
            });

        })

    </script>

{% endblock %}

{% block style %}
    <style>
        .pt-3-half {
            padding-top: 1.4rem;
        }
    </style>

{% endblock %}









